@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.site {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}



:root {

    --cor_P_topo: #0597F2;
    --cor_SPAN_topo: #0597F2;
    --fonte_INTER: "Inter", sans-serif;
    --background_fundo: #F6F6F6;
    --font_joseh: "Josefin Sans", sans-serif;

}

.lado_a_lado {
    display: flex;
    align-items: center;
}

.container_escolha,
.container_escolha_cul,
.container_escolha_even {
    width: 170px;
    min-height: 145px;
    border-radius: 15px;
    background-color: #ffffff;
    border-bottom: 4px solid #05F2DB;
}

.container_escolha_cul {
    border-bottom: 4px solid #056CF2;
}

.container_escolha_even {
    border-bottom: 4px solid #F2A007;
}


.space {
    height: 60px;
}

.centro {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.saiba_mais,
.sobre_nos {
    display: flex;
    width: 100px;
    height: 40px;
    color: white;
    background-color: #0597F2;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

}

.sobre_nos {
    background-color: white;
    color: black;
}

.largura_total {

    width: 65%;
    height: 100px;
    border-radius: 0 30px 30px 0px;
    background-color: #F2A007;
    display: flex;
    align-items: center;
    justify-content: end;
}

.ver_atividades {
    width: 230px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--fonte_INTER);
    font-size: 14px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}

.jogo {
    width: 400px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.25);
    height: 210px;
    border-radius: 10px;

}

.circulo {
    width: 50px;
    height: 50px;
    background-color: #F2A007;
    border-radius: 50%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    .seta_circulo {
        width: 21px !important;
        height: 27px !important;
    }
}

.cadastre-se {
    width: 170px;
    height: 50px;
    background: #0597F2;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: var(--fonte_INTER);
    font-weight: 700;
}


/* Oculta o botão do menu por padrão */
.menu-toggle {
    width: 30px;
    height: 22px;
    position: relative;
    cursor: pointer;
    display: none;
    z-index: 1000;
    /* para ficar acima do menu */
}

.menu-toggle span {
    position: absolute;
    height: 4px;
    width: 100%;
    background: rgb(0, 0, 0);
    border-radius: 2px;
    transition: 0.4s;
}

.menu-toggle span:nth-child(1) {
    top: 0;
}

.menu-toggle span:nth-child(2) {
    top: 9px;
}

.menu-toggle span:nth-child(3) {
    top: 18px;
}

/* Estilo quando ativado */
.menu-toggle.active span:nth-child(1) {
    transform: rotate(45deg);
    top: 9px;
}

.menu-toggle.active span:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
    transform: rotate(-45deg);
    top: 9px;
}

/* Estilos do menu padrão */
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}


header {
    position: relative;
    z-index: 1;

    .info_topo {
        display: flex;
        padding: 20px 0;

        .site {
            max-width: 1240px;
            min-height: 130px;


            .lado_a_lado {
                justify-content: space-between;

                .logo {

                    display: flex;


                }

                .redes_sociais {
                    display: flex;
                    align-self: center;


                    img {
                        margin-right: 50px;
                    }

                }

                .como_funciona,
                .como_funciona_ {
                    display: flex;
                    justify-content: space-between;
                    width: 45%;

                    .horarios,
                    .telefone {
                        p {
                            color: var(--cor_P_topo);
                            font-family: var(--fonte_INTER);
                            font-weight: bolder;
                        }

                        .relogio,
                        .numero_telefone {
                            margin-top: 16px;
                            display: flex;
                            align-items: center;

                            img {
                                margin-right: 10px;
                            }

                            span {
                                font-family: var(--fonte_INTER);
                                font-weight: bolder;
                                font-size: 16px;
                                color: var(--cor_SPAN_topo);
                            }
                        }
                    }
                }
            }



        }


    }

    .navegacao {
        position: relative;

        .site {
            .container_azul {
                min-height: 150px;
                background-color: #0597F2;
                border-radius: 20px;
                display: flex;


                nav {
                    width: 100%;

                    ul {
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        height: 100%;
                        list-style: none;

                        a {
                            text-decoration: none;
                            color: white;
                            font-family: var(--fonte_INTER);
                            font-weight: bolder;
                            font-size: 20px;


                        }

                        .conhecer_volei {
                            border-radius: 10px;
                            width: 20%;

                            background-color: #04192C;
                            display: flex;
                            align-items: center;

                            a {
                                width: 100%;
                                height: 70px;
                                display: flex;
                                align-items: center;
                                justify-content: space-around;
                                font-size: 20px;
                                font-family: var(--fonte_INTER);
                                font-weight: bolder;
                            }
                        }
                    }
                }
            }
        }
    }
}


.banner {
    background-image: url(img/baner_home.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 560px;
    width: 100%;
    bottom: 50px;
    position: relative;
    background-position: top center;


    .site {
        .ben_vindo {
            position: relative;
            width: 100%;
            display: flex;
            align-items: start;
            height: 460px;
            justify-content: center;
            flex-direction: column;


            h2,
            h3,
            p {
                font-family: var(--fonte_INTER);
                font-size: 24px;
                color: white;
                font-weight: bolder;
            }

            h3 {
                font-size: 32px;
                margin: 10px 0;
            }

            p {
                font-size: 13px;
                font-weight: normal;
                width: 45%;
                line-height: 20px;
            }

            .sobre_mais {
                font-weight: 600;
                font-family: var(--fonte_INTER);
                display: flex;
                margin-top: 30px;



                .sobre_nos {
                    background-color: white;
                    color: black;
                    margin-left: 15px;
                }

            }


        }

        .escolha_categoria {
            display: flex;
            justify-content: center;

            .container_escolha,
            .container_escolha_cul,
            .container_escolha_even {
                margin-right: 80px;

                a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    color: black;

                    strong {
                        margin-top: 32px;
                        font-family: var(--fonte_INTER);
                        font-weight: bold;
                        font-size: 20px;
                        margin-bottom: 25px;

                    }

                    img {
                        margin-top: 10px;
                    }
                }
            }

        }
    }
}

.video {
    background: var(--background_fundo);
    height: 550px;

    .site {
        .centro {
            height: 550px;

            .video-wrapper {
                position: relative;
                width: 430px;
                height: 290px;

                #video {
                    display: none;
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    object-fit: cover;
                    /* mantém a proporção preenchendo */
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                .video-thumbnail {
                    width: 100%;
                    height: 100%;
                    background-color: #2b2b2b;
                    border-radius: 5px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 2;

                    .play-button {
                        width: 80px;
                        height: 80px;
                        background-color: white;
                        border-radius: 50%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;

                        .play-icon {
                            width: 0;
                            height: 0;
                            border-left: 18px solid #056CF2;
                            border-top: 12px solid transparent;
                            border-bottom: 12px solid transparent;
                        }
                    }
                }
            }

            .conhecer_efata {
                width: 50%;

                div {
                    h3 {
                        font-family: var(--font_joseh);
                        font-size: 36px;
                        font-weight: normal;
                    }

                    p {
                        margin: 50px 0;
                        line-height: 30px;
                        font-family: var(--fonte_INTER);
                    }

                    div {
                        display: flex;
                        width: 40%;
                        justify-content: space-between;

                        .sobre_nos,
                        .saiba_mais {
                            border: none;
                            cursor: pointer;
                            font-weight: 700;
                            font-family: var(--fonte_INTER);
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}




.jogos {


    .site {
        h3 {
            font-family: var(--font_joseh);
            text-align: center;
            margin-bottom: 40px;
            font-size: 50px;
            font-weight: normal;

        }

        .lado_a_lado {
            justify-content: space-evenly;
            flex-wrap: wrap;

            .jogo {

                h4,
                h5,
                p {
                    font-family: var(--font_joseh);
                    text-align: center;
                    margin-top: 14px;
                    font-weight: bold;
                    font-size: 20px;
                }

                .times {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 30px;

                    p {
                        font-family: var(--font_joseh);
                        font-size: 40px;
                        font-weight: bold;
                    }

                    img {
                        margin: 0px 10px;
                    }
                }

                h5 {
                    margin-top: 0px;
                    font-size: 24px;
                }

                p {
                    font-size: 15px;
                }
            }
        }
    }

}

.eventos_prox,
.eventos_espor,
.eventos_cul {
    height: 880px;

    .largura_total {
        h2 {
            margin-right: 20px;
            font-family: var(--font_joseh);
            font-size: 64px;
            font-weight: bold;
            color: white;
            margin-top: 15px;
        }
    }

    .site {

        .eventos_esporte_cultura {
            display: flex;
            justify-content: space-between;

            .evento_esporte_cultura {
                display: flex;
                flex-direction: column;

                a {
                    display: block;
                    background-color: #F2A007;
                    width: 500px;
                    border-radius: 25px 25px 20px 20px;

                    img {

                        width: 500px;
                    }

                    div {
                        height: 80px;
                        background-color: #F2A007;
                        width: 41%;
                        border-radius: 0px 0px 20px 20px;
                        width: 100%;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        strong {
                            font-family: var(--fonte_INTER);
                            color: white;
                            font-weight: bold;
                            font-size: 48px;
                        }
                    }



                }

            }

        }

        .centro {
            height: 0;

            .ver_atividades {
                background-color: #F2A007;
            }
        }
    }

}


.eventos_espor,
.eventos_cul {
    .inverter {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        .largura_total {
            border-radius: 30px 0 0 30px;
            justify-content: flex-start;
            background-color: #05F2DB;

            h2 {
                margin-left: 60px;
                color: black;
            }
        }
    }

    .site {
        .eventos_esporte_cultura {
            .evento_esporte_cultura {
                width: 300px;

                a {
                    background-color: white;
                    width: 300px;

                    img {
                        width: 300px !important;
                    }

                    div {
                        display: flex;
                        flex-direction: column;
                        height: auto;
                        background: white;
                        border-bottom: 10px solid #05F2DB;

                        h3 {
                            text-align: center;
                            margin-top: 15px;
                            font-family: var(--fonte_INTER);
                            font-size: 24px;
                            color: black;

                        }

                        p {
                            text-align: start;
                            margin: 13px 0 13px 12px;
                            font-family: var(--fonte_INTER);
                            color: black;
                            font-size: 16px;
                            line-height: 25px;
                        }

                        span {
                            display: flex;
                            justify-content: start;
                            width: 100%;
                            margin-bottom: 30px;
                            margin-left: 21px;
                            font-family: var(--fonte_INTER);
                            color: #0597F2;
                            font-size: 16px;
                        }
                    }
                }
            }


        }

        .centro {
            .ver_atividades {
                background-color: #05F2DB;
                width: 260px;
            }
        }
    }

}


.eventos_espor {
    .site {
        a {
            color: black;
        }
    }
}


.eventos_cul {
    .largura_total {
        background: #0597F2;

        h2 {
            color: black;
        }
    }

    .site {
        .eventos_esporte_cultura {
            .evento_esporte_cultura {
                div {
                    border-bottom: 10px solid #0597F2 !important;
                }
            }
        }

        .centro {
            .ver_atividades {
                background-color: #0597F2;
                width: 260px;
                color: white;
            }
        }

    }
}


.sobre_foto {
    .site {
        .lado_a_lado {

            .columns {



                h2,
                h3,
                h4 {
                    font-family: var(--font_joseh);
                    font-weight: bold;
                    font-size: 40px;
                }

                h3 {
                    font-size: 60px;
                    width: 100%;
                    line-height: 70px;
                    margin-top: 16px;
                }

                h4 {
                    font-weight: bold;
                    font-size: 25px;
                    margin-top: 30px;
                }

                p {
                    width: 90%;
                    font-family: var(--fonte_INTER);
                    font-size: 20px;
                    font-weight: normal;
                    line-height: 40px;
                    margin-top: 40px;
                }
            }

            .sobre_nos {
                width: 100%;
                display: flex;
                justify-content: space-between;

                .lado_a_lado {
                    width: 100%;
                    display: flex;

                    .ancora_sobre {
                        width: 30%;

                        a {
                            width: 170px;
                            height: 50px;
                            background: #0597F2;
                            border-radius: 30px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: white;
                            font-family: var(--fonte_INTER);
                            font-weight: 700;
                        }

                    }

                    .tel_sobre {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        margin-left: 40px;

                        p {
                            width: 100%;
                            margin: 0;
                            margin-left: 20px;
                            font-family: var(--font_joseh);
                            font-weight: bold;
                            font-size: 30px;
                        }
                    }

                }
            }

        }
    }
}

.patrocinadores {
    .site {
        h2 {
            text-align: center;
            margin-bottom: 50px;
            font-family: var(--font_joseh);
            text-align: center;

            font-size: 50px;
            font-weight: normal;

        }

        .lado_a_lado {
            .columns {

                .patrocinador_oficial {

                    a {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 80%;

                        img {
                            width: 250px;
                            height: 250px;
                        }

                        strong {
                            text-align: center;
                            font-family: var(--font_joseh);
                            font-size: 17px;
                            color: #0597F2;
                            font-weight: bold;
                            margin: 38px 0 20px 0;
                        }

                        h6 {
                            font-weight: bold;
                            font-family: var(--font_joseh);
                            color: black;
                            text-align: center;
                            font-size: 45px;
                            margin-bottom: 20px;
                        }

                        span {
                            width: 65%;
                            text-align: center;
                            line-height: 30px;
                            color: black;
                            font-family: var(--fonte_INTER);
                            font-size: 15px;
                            font-weight: normal;

                        }


                    }
                }
            }
        }
    }
}


.galeria_volei {
    min-height: 700px;
    background: url(img/fundo_icones.png);
    padding-bottom: 100px;

    .site {
        max-width: 1300px;

        .atividades_volei {
            text-align: center;
            padding-top: 32px;

            font-family: var(--font_joseh);

            h4,
            h5 {
                color: white;
                font-weight: bolder;
                font-size: 48px;
            }

            h5 {
                font-size: 32px;
                margin-top: 10px;
            }


        }

        .galeria {
            margin-top: 100px;
            display: flex;
            justify-content: space-between;

            .galeria_um,
            .galeria_dois {
                display: flex;
                flex-direction: column;
                align-items: center;

                .foto_um,
                .foto_dois,
                .foto_tres,
                .foto_quatro,
                .foto_cinco,
                .foto_seis,
                .foto_sete,
                .foto_oito {

                    width: 179px;
                    min-height: 210px;
                    background-color: white;
                    display: flex;
                    justify-content: center;

                    img {
                        margin: 10px;
                    }
                }

                .foto_dois {
                    margin-top: 35px;
                    width: 270px;
                    height: 140px;
                }

                .foto_tres {
                    width: 440px;
                    height: 120px;
                    margin-right: 45px;
                }

                .foto_quatro {
                    width: 200px;
                    height: 290px;
                    margin-top: 35px;
                }

                .foto_cinco {
                    width: 220px;
                    min-height: 200px;
                }

                .foto_seis {
                    margin-top: 50px;
                    width: 220px;
                    min-height: 250px;
                }

                .foto_sete {
                    width: 200px;
                    min-height: 250px;
                }

                .foto_oito {
                    margin-top: 50px;
                    width: 300px;
                    min-height: 200px;
                    margin-left: 44px;
                }
            }
        }
    }
}

.efeito_paralax {

    background-image: url('img/efeito_paralax.png');
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    .site {
        height: 500px;
        display: flex;
        align-items: center;

        .content {
            width: 700px;
            height: 420px;
            background-color: white;
            border-radius: 5px;

            .columns {

                .texto {
                    width: 70%;
                    height: 250px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 60px;

                    h2 {
                        font-family: var(--font_joseh);
                        font-size: 30px;
                        font-weight: bold;

                    }

                    .hr {
                        width: 88%;
                        margin-top: 5px;

                        hr {
                            border: 3px solid #F2A007;
                            width: 100%;
                        }
                    }

                    .paragrafro {
                        width: 88%;
                        margin-top: 10px;

                        p {
                            font-family: var(--fonte_INTER);
                            font-size: 20px;
                            line-height: 35px;
                        }
                    }

                    .cadastre {
                        width: 88%;
                        margin-top: 30px;

                        .cadastre-se {
                            background-color: #F2A007;
                            color: black;
                            font-weight: 700;

                        }
                    }


                }
            }
        }
    }
}


footer {
    height: auto;
    background-color: #F7F9F8;

    .site {
        .lado_a_lado {
            justify-content: space-between;

            .columns {
                .logo_footer {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    padding-top: 50px;
                }

                .mapa {

                    iframe {
                        width: 400px;
                        height: 200px;
                        border-radius: 10px;
                        margin-top: 20px;
                    }
                }


                .entre_em_contato {
                    font-family: var(--fonte_INTER);
                    width: 200px;
                    height: 75px;
                    background-color: white;
                    border-radius: 10px;
                    border: 1px solid black;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 30px;

                    p {
                        font-size: 17px;
                        font-weight: bolder;
                        color: #0597F2;
                    }

                    .telefone {
                        display: flex;
                        align-items: center;
                        margin-top: 15px;

                        img {
                            margin-right: 13px;

                        }

                        span {
                            font-size: 20px;
                            color: #0597F2;
                        }
                    }
                }

                nav {
                    ul {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 130px;

                        li {
                            a {
                                color: black;
                                font-family: var(--fonte_INTER);
                                font-size: 16px;
                                font-weight: normal;

                            }
                        }
                    }
                }


                .Newsletter {
                    font-family: var(--fonte_INTER);
                    font-size: 30px;
                    color: #0597F2;
                    font-weight: bolder;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h2 {
                        text-align: start;
                        width: 100%;
                    }

                    div {
                        width: 100%;

                        hr {
                            border: 3px solid #0597F2;
                            margin-top: 12px;
                            display: flex;
                            justify-content: start;
                            width: 25%;
                        }
                    }


                    p {
                        font-family: var(--fonte_INTER);
                        font-size: 16px;
                        font-weight: bold;
                        color: black;
                        width: 100%;
                        margin-top: 20px;
                        line-height: 20px;
                    }
                }

                form {


                    .email_Newsletter {
                        margin-top: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        input {
                            height: 40px;
                            border-radius: 40px;
                            border: 1px solid black;
                            width: 90%;


                        }

                        input::placeholder {
                            padding-left: 20px;
                            color: #B7B7B7;
                            font-family: var(--fonte_INTER);
                            font-size: 17px;
                        }

                        button {
                            border: none;
                            cursor: pointer;
                            background: transparent;
                            margin-left: 15px;

                        }
                    }
                }

                .siga_agente {
                    margin-top: 33px;

                    span {
                        font-weight: bold;
                        font-size: 16px;
                        color: #0597F2;
                        font-family: var(--fonte_INTER);
                    }
                }

                .redes_sociais_footer {
                    display: flex;
                    justify-content: space-between;
                    width: 80%;
                    margin-top: 19px;
                }


            }
        }

        .direitos {
            width: 100%;
            display: flex;
            justify-content: center;
            padding-bottom: 20px;

            strong {
                font-size: 20px;
                font-family: var(--fonte_INTER);
                font-weight: 500;

            }
        }
    }
}

@media (max-width: 1024px) {


    .galeria_dois {
        display: none !important;
    }


    header {


        .info_topo {
            .site {


                .lado_a_lado {
                    justify-content: space-around !important;

                    .como_funciona {


                        align-items: center;

                        .telefone {
                            margin: 0 20px;

                        }
                    }
                }
            }
        }

        .navegacao {
            .site {
                .container_azul {
                    margin: 0 20px;
                }
            }
        }

    }


    .banner {
        .site {
            .ben_vindo {
                align-items: center;
                height: 500px;

                h2 {
                    font-size: 60px;
                    margin-bottom: 20px;
                }

                h3 {
                    font-size: 45px;
                    margin-bottom: 20px;
                }

                p {
                    line-height: 25px;
                    font-size: 18px;
                    width: 60%;
                }
            }
        }
    }

    .eventos_prox {
        .largura_total {
            h2 {
                font-size: 58px;
            }
        }


    }


    .eventos_espor,
    .eventos_cul {
        .site {
            .eventos_esporte_cultura {
                display: flex;
                justify-content: space-evenly;

                .evento_esporte_cultura {
                    width: 30%;

                }
            }
        }

    }


    .sobre_foto {
        .site {
            .lado_a_lado {
                flex-direction: column;

                .columns {
                    .info_sobre {
                        text-align: center;

                        p {
                            width: 100%;
                            padding: 0 40px;
                        }
                    }

                    .sobre_nos {
                        .lado_a_lado {

                            .ancora_sobre,
                            .tel_sobre {
                                width: auto;
                            }

                            .tel_sobre {
                                margin-top: 30px;
                            }
                        }
                    }
                }


                .foto_volei {
                    margin-top: 80px;
                }
            }
        }
    }

    .patrocinadores {
        .site {
            .lado_a_lado {
                .columns {
                    .patrocinador_oficial {
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }
    }

    .galeria_volei {
        background: url(img/responsivo_1024.png);

        .site {
            .galeria {
                .galeria_um {
                    .foto_dois {
                        margin-left: 10px;
                    }

                    .foto_cinco,
                    .foto_seis {
                        margin-right: 10px;
                    }

                }
            }
        }
    }

    .efeito_paralax {
        .site {
            justify-content: center;
        }
    }


    footer {
        .site {
            .lado_a_lado {
                flex-direction: column;

                .columns {
                    margin: 30px 0;
                }
            }
        }
    }





}


@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    nav ul {
        flex-direction: column;
        background-color: #005aa7;
        width: 100%;
        position: absolute;
        top: -11px;
        left: 0;
        padding: 10px 0;
        opacity: 0;
        transform: translateY(-20%);
        pointer-events: none;
        transition: all 0.3s ease;
        height: 500px !important;
    }

    nav ul.open {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }



    header {

        .info_topo {
            .site {
                .lado_a_lado {
                    .como_funciona {
                        flex-direction: column;
                        align-items: start;
                        width: 30%;

                        .telefone {
                            display: flex;
                            margin: 40px 0 0 0;
                            flex-direction: column;
                        }
                    }

                    .como_funciona_ {
                        width: 100%;
                    }
                }

            }
        }


        & .navegacao {
            & .site {

                .container_azul {
                    background-color: white;
                    border-radius: 0;
                    margin-bottom: 85px;
                    min-height: 0;
                    margin-top: 10px;

                    nav {
                        display: flex;
                        justify-content: end;

                        ul {
                            .conhecer_volei {
                                width: 30%;
                            }
                        }
                    }

                }
            }
        }
    }


    .banner {
        .site {
            .escolha_categoria {

                .container_escolha .container_escolha_cul,
                .container_escolha_even {
                    margin-right: 0;
                }
            }
        }
    }


    .video {
        height: 700px;

        .site {
            .centro {
                flex-direction: column;

                .conhecer_efata {
                    order: 1;
                    margin: 25px 0;

                    h3 {
                        font-size: 50px !important;
                        text-align: center;
                    }

                    p {
                        text-align: center;
                    }

                    div {
                        width: 100% !important;
                    }
                }

                .video-wrapper {
                    order: 2;

                    .video-thumbnail,
                    #video {
                        height: 250px !important;

                    }
                }
            }
        }
    }


    .jogos {
        .space {
            height: 0px;
        }

        .site {
            .lado_a_lado {
                .jogo {
                    margin-bottom: 40px;
                }
            }
        }
    }


    .eventos_prox,
    .eventos_espor,
    .eventos_cul {
        height: auto;

        .largura_total {
            height: 70px;

            h2 {
                font-size: 40px;
            }
        }

        .site {
            .eventos_esporte_cultura {
                display: flex;
                flex-direction: column;
                align-items: center;

                .evento_esporte_cultura {
                    margin-bottom: 40px;
                    width: 100% !important;
                    align-items: center;
                }
            }

            .centro {
                margin-bottom: 50px;
            }
        }
    }


    .patrocinadores {
        .site {
            .lado_a_lado {
                flex-direction: column;

                .columns {
                    margin-bottom: 60px;
                }
            }
        }
    }


    .galeria_volei {
        .site {
            .galeria {
                margin-top: 30px;
                flex-direction: column;
                align-items: center;

                .galeria_um {
                    margin-bottom: 40px;
                }

                .galeria_dois {
                    display: block !important;
                    width: 30%;
                    margin: 0 auto;

                    .foto_oito {
                        margin-left: 0;
                    }
                }
            }
        }
    }


    .efeito_paralax {
        & .site {
            .content {
                height: 360px;

                .columns {
                    .texto {
                        width: 100% !important;
                    }

                    .cadastre {
                        width: 100% !important;
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }
    }


    footer {
        & .site {
            & .lado_a_lado {
                .columns {
                    width: 50% !important;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    form {
                        width: 100% !important;
                    }
                }
            }
        }
    }


}


@media (max-width: 480px) {

    nav ul {
        height: auto !important;
    }

    .redes_sociais img,
    .como_funciona,
    .como_funciona_ img {
        filter: brightness(0) invert(1);
        margin-bottom: 30px;
    }

    .como_funciona,
    .como_funciona_ {
        display: flex;
        flex-direction: column;
        align-items: cente;
        justify-content: center;

        .horarios, .telefone{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .relogio , .numero_telefone {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 20px 0;
                p{
                    text-align: center !important;
                }
                img{
                    margin-bottom: 20px;
                }
            }
        }
    }

    header {
        & .navegacao {
            & .site {
                & .container_azul {
                    & nav {
                        ul {
                            li {
                                margin-top: 40px;

                                a {
                                    font-size: 25px;
                                }
                            }

                            .conhecer_volei {
                                width: 70% !important;
                                font-size: 20px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}